@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: black;
  padding: 15px 30px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 100px;
  cursor: pointer;
  margin: 20px;
  transition: all .25s ease-in-out;
}
.btn:hover{
  background-color: black;
  color: white;
}

